@model IEnumerable<MultiLanguageYeniCodeFirst.Models.Yazi>

@{
    ViewBag.Title = MultiLanguageYeniCodeFirst.Resource.Home;
}

@foreach (var item in Model)
{

    <br />
    <div>
        <h4 class="row">@item.Title </h4>
    </div>

    <div>
        <p class="row">@item.Icerik</p>
    </div>

    <div>
        <span>@MultiLanguageYeniCodeFirst.Resource.About</span>
    </div>
}
    <span>@MultiLanguageYeniCodeFirst.Resource.About</span>

